<% provide(:title, @team.name) %>
<% if signed_in? %>
	<%= link_to "join this team", team_players_path(@team), method: :post %>
<% end %>
<h2>Players</h2>
<% @team.players.each do |player| %>
	<p><%= player.name %></p>
<% end %>