<% provide(:title, "Create League") %>
<h1>Create league</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for [@user, @league] do |f| %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.submit "Create your league!", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>