<% @user.leagues.each do |league| %>
	<p>
		<%= link_to "#{league.name}  (#{@user.name})", league %>
		<% if current_user == @user %>
			| <%= link_to "delete", [@user, league], method: :delete,
                                  data: { confirm: "You sure?" } %>
		<% end %>
	</p>
<% end %>

<% if  current_user?(@user) %>
	<p>
		<%= link_to "Create a league", new_user_league_path(@user) %>
	</p>		
<% end %>