<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>
		<div>
			<h2>Leagues</h2>
			<% @user.leagues.each do |league| %>
				<% commissioner = User.find(league.user_id).name %>
				<p><%= link_to "#{league.name}  (#{commissioner})", league %></p>
			<% end %>
			<p><%= link_to "Create a league", new_users_league_path %></p>
		</div>
	</div>
<div>